body {
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5E9E2 !important;
}

html {
  font-family: 'Roboto', sans-serif !important;
}


p {
  margin: auto !important;
}

a {
  color: #0B0014 !important;
}
ul {
  list-style: none;
  margin-left: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box !important;
}

body h1, 
body h2,
body h3, 
body h4,
body h5,
body h6{
  margin: 0 ;
}

.screen{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.main-container{
  width: -webkit-fill-available;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}
.icon-container{
  border-radius: 50% !important;
  width: 1.5rem !important;
  height: 1.5rem !important;
  padding: 0.1rem !important;
}

.icon-container-small{
  border-radius: 50% !important;
  padding: 0 !important;
  
  width: 1rem !important;
  height: 1rem !important;
}

.icon-container-medium{
  border-radius: 50% !important;

  width: 2.5rem!important;
  height: 2.5rem!important;
  padding: 0.5rem !important;
}


.icon-container-big{
  border-radius: 50% !important;
  
  width: 3rem!important;
  height: 3rem!important;
  padding: 0.5rem !important;
}


.icon-container-bigger{
  border-radius: 50% !important;
  
  width: 4rem!important;
  height: 4rem!important;
  padding: 0.5rem !important;
}

.icon-container-huge{
  border-radius: 50% !important;
  
  width: 5rem!important;
  height: 5rem!important;
  padding: 0.5rem !important;
}

.icon-container-with-text{
  border-radius: 2.5rem !important;
  height: 2.5rem!important;
  padding: 0.5rem !important;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.icon-container svg, .icon-container-small svg, .icon-container-medium svg, .icon-container-bigger svg,.icon-container-big svg, .icon-container-huge svg{
  width: 100%;
  height: 100%;
}

.icon-container-with-text svg{
  height: 100%;
  width: auto;
}

.divider{
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    width: 100%;
    height: 1px;
    background-color: #0B001430;
}

::-webkit-scrollbar{
  width: 0;
}

::selection{
  background-color:#548687;
  color:white;
}

.background-asset{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  max-height:40vh !important;
  min-height: 20vh;
}


.not-found{
  width: 100%;
  text-align: center;
  margin-top: 10vh;
}

.not-found h1{
  font-size: 3rem;
  font-weight: lighter !important;
  /* font-family: 'Sacramento', cursive; */
}

.slider{
  background-color: blue;
  width: 100%;
  height: 100%;
}


a{
  background-color: inherit;
  color: inherit;
  text-decoration: none;
  cursor: inherit;
}

.container{
  width: 90%;
  min-height: calc(100% - 3.5rem);
  max-width: min(1000px, calc(100% - 4rem));
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 0 auto;
}

.bottom-action-button{
  position: absolute;
  bottom: -5rem;
}

.add-to-list-button{
  margin: auto;
}

.tag{
    display: inline-block;
    width: fit-content;
    padding: 0.5rem;
    cursor: pointer;
    margin: 0.5rem;
    position: relative;
    border-radius: 5px;
    transition: 0.2s ease;
    white-space: nowrap;
}

.selected{
  color:white!important;
  background: #548687!important;
  transition: 0.2s ease!important;
}

.text-to-outline{
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  
  transition: 0.2s ease;
  border: 1px solid transparent;
  background: transparent;
}

.text-to-outline:hover{
  transition: 0.2s ease;
  border-color:#548687;
  color:#548687 !important;
}

.outline-to-fill{
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  
  transition: 0.2s ease;
  border:1px solid #548687;
  color:#548687;
  background: transparent;
}

.outline-to-fill:hover{
  transition: 0.2s ease;
  color:white;
  background: #548687;
}


.text-to-fill{
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  
  transition: 0.2s ease;
  border: 1px solid transparent;
  background: transparent;
}

.text-to-fill:hover{
  transition: 0.2s ease;
  color:white !important;
  background: #548687;
}


.black-to-green{ 
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  
  transition: 0.2s ease;
  color:#0B0014;
  background: transparent;
}

.black-to-green:hover{
  transition: 0.2s ease;
  color:#548687;
  background: transparent;
}

.fill{
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  border: none;

  transition: 0.2s ease;
  color:white !important;
  background: #548687;
}

.fill:hover{
  transition: 0.2s ease;
  background: #38595a;
  color:white !important;
}


.bg-green-to-bg-black{
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  border: none;

  transition: 0.2s ease;
  color:white !important;
  background-color: #548687;
}

.bg-green-to-bg-black:hover{
  transition: 0.2s ease;
  background: #0B0014;
}

.text-to-underline{
  cursor: pointer;
  padding: 0.1rem 0;
  position: relative;
}

.text-to-underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #548687;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.text-to-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.MuiFormControl-root input{
  height: auto;
}

.MuiOutlinedInput-notchedOutline{
  border-color: #548687 !important;
}

label.Mui-focused{
  color: #548687 !important;
}

.mg-y-1{
  margin: 1rem 0;
}

.mg-b-1{
  margin-bottom: 1rem;
}

.color-light{
  color: #0B001480
}

.color-green{
  color: #548687 ;
}

.row{
    position: relative;
    display: flex;
}

.row .MuiFormControl-root{
  margin: 1rem 0;
  width: 100%;
}

.col-50{
  width: 50%;
}


.slick-slider{
  user-select: text;
  height: 100%;
}

.slick-prev:before, .slick-next:before{
  color: #548687 !important;
  opacity: 1 !important;
  font-size: 2rem !important;
}

.slick-prev, .slick-next{
  width: 2rem !important;
  height: 2rem !important;
  opacity: 1 !important;
}

.slick-prev{
  left: -3rem!important;
}


.slick-next{
  right: -3rem!important;
}

.prev-button{
  transform: rotate(180deg);
  left: 1rem;
}

.next-button{
  right: 1rem;
}

.next-button, .prev-button{
  position: absolute;
  bottom: 1rem;
}

.inline-container{
  display: flex;
}

.events{
  padding: 0;
}


.calendar-tag{
  width: 100%;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
  margin: 0.1rem 0;
  position: relative;
  border-radius: 5px;
  transition: 0.2s ease;
  white-space: nowrap;
}

.slash{
  margin: 0 0.5rem !important;
}

.row span{
  width: 100%;
}


form button{
  width: 100%;
}

.hidden-container{
  display: none !important;
  overflow: hidden !important;
}

.list-options-bar h5{
  margin: 0 0.5rem !important;
}

img{
  max-width: 100%!important;
  max-height: 100%!important;
}

.cover{
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.big-cover{
  width: 100%;
  height: 40vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cover img, .big-cover img{
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

.cover-edit-icon{
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  z-index: 10;
}

.text-in-icon-container{
  max-width: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.2s ease;
}

.big-cover:hover .text-in-icon-container{
  max-width: 100px;
  opacity: 1;
  transition: 0.2s ease;
  margin-left: 0.5rem;
}

.item-details{
  padding: 3rem 5rem;
}

.emoji-rating{
  height: 2rem;
  margin: 2rem 0;
}

.emoji-rating h2{
  margin-right: 2rem
}

.emoji-rating img{
  height: 2rem;
}

.emoji-picker-react, .emoji-search, .emoji-picker-react .emoji-group:before{
  background-color: #F5E9E2 !important;
  background: #F5E9E2 !important;
  z-index: 2 !important;
}

.emoji-picker-react{
  /* box-shadow: 0 5px 10px #7B5E7B !important; */
  box-shadow: none !important;
  border: 1px solid #548687 !important;
  width: 100% !important;
}

.emoji-picker-react input.emoji-search{
  border-color: #548687 !important;
}

.emoji-picker-react .active-category-indicator-wrapper .active-category-indicator{
  background: #548687 !important;
}


.section{
  margin-bottom: 4rem;
}